@import '~carbon-components/scss/globals/scss/styles';
@import '~carbon-addons-iot-react/scss/styles';

#forkongithub {
	a {
		background: #000;
		color: #fff;
		text-decoration: none;
		font-family: arial,sans-serif;
		text-align: center;
		font-weight: bold;
		padding: 5px 40px;
		font-size: 1rem;
		line-height: 2rem;
		position: relative;
		transition: 0.5s;

		&:hover {
			background: #c11;
			color: #fff;
		}

		&::before, &::after {
			content: "";
			width: 100%;
			display: block;
			position: absolute;
			top: 1px;
			left: 0;
			height: 1px;
			background: #fff;
		}

		&::after {
			bottom: 1px;
			top: auto;
		}
	}
}

@media screen and (min-width:800px) {
	#forkongithub {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		width: 150px;
		overflow: hidden;
		height: 150px;
		z-index: 9999;
		pointer-events: none;

		a {
			width: 212px;
			position: absolute;
			top: 40px;
			right: -45px;
			transform: rotate(45deg);
			box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
			pointer-events: auto;
			opacity: 0.6;

			&:hover {
				opacity: 1;
			}
		}
	}
}
